h3 {  color: rgb(243, 245, 241);
    text-align: center;
    margin: 2px 2px 2px 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed}

.mb-3{ color:black;
    text-align: center;
    margin: 2px 2px 2px 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed}