main{
    div {
        section {background-image:url(../img/logo1.jpg);
            width: 100%;
            height: 100%;
            background-position:center;
            background-repeat:no-repeat;
            background-size:cover ;
            background-attachment: fixed;
            img {width: 410px;
                height: 430px;}

        }
    }
}
.langosta {
    text-align: center;
    ul{
        a{color: azure;
            font-size: 30px;
            font-style: italic;
            text-decoration: none;
            img{
                p{color: aliceblue;
                    font-size: 20px;

                }
            }
        }
    }
}

.salmon {
    text-align: center;
    ul{
        a{color: azure;
            font-size: 30px;
            font-style: italic;
            text-decoration: none;
            img{
                p{color: aliceblue;
                    font-size: 20px;

                }
            }
        }
    }
}

.pulpo {
    text-align: center;
    ul{
        a{color: azure;
            font-size: 30px;
            font-style: italic;
            text-decoration: none;
            img{
                p{color: aliceblue;
                    font-size: 20px;

                }
            }
        }
    }
}

.cangrejo {
    text-align: center;
    ul{
        a{color: azure;
            font-size: 30px;
            font-style: italic;
            text-decoration: none;
            img{
                p{color: aliceblue;
                    font-size: 20px;

                }
            }
        }
    }
}